{% load static%}

.card-largura {
    max-width: 18rem;
}

.imagem-caroussel1 {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.imagem-caroussel2 {
    object-fit: cover;
    height: 400px;
}

.fonte-titulo{
    font-family: 'Pacifico', cursive;
}

.cor-especial {
    color: darkred;
}

.texto-cor-especial {
    color: darkred!important;
}

.botao-cor-especial {
    background-color: darkred;
    color: white;
}

.borda-cor-especial {
    border-color: darkred;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}

/* LANDING */

.jumb-bg {
    background-image: url('img/carrossel-img2.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
}