<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/style.css}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <form id="form1" action="#" th:action="@{/translate}" th:object="${index}" method="post">
        <h1 id="center">Translator</h1>
        <div id="selectDiv">
            <select name="inputOptions">
                <option selected disabled>Select your language</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>

            <select name="outputOptions">
                <option selected disabled>Translate to</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="hamster">Hamster</option>
                <option value="parrot">Parrot</option>
                <option value="spider">Spider</option>
                <option value="goldfish">Goldfish</option>
            </select>
        </div>
        
        <textarea name="inputText" placeholder="INPUT" cols="30" rows="5" th:field="*{inputText}"></textarea>
        <textarea name="outputText" placeholder="OUTPUT" cols="30" rows="5" th:field="*{outputText}></textarea>
    </form>
    <button type="submit" form="form1" value="Submit">Translate</button>
</body>
</html>


<!--
border: 1px solid #FFFF00;
-->