body {
    background-color: grey;
}

#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.itens {
    font-style: italic;
}

h1 {
    text-align: center; 
}

p {
    text-align: center;
}

#cacilds {
    font-style: italic;
}