{% load static %}
<!--CARDS-->
<section class="container-fluid bg-light" id="receitas">
  <div class="row justify-content-center">
    {% if receitas %}
    {% for receita in receitas %}
    <article class="card borda-cor-especial card-largura p-0 m-4 col-12 col-md-4">
      <img src="{% static '/img/receita-abacate.jpg' %}" class="card-img-top card-posicao-imagem" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ receita.nome_receita }}</h5>
          <p class="card-text">Receita refrescante e cheia de vitaminas para o seu café da manhã!</p>
          <a href="{% url 'receita' receita.id %}" class="btn botao-cor-especial">Veja a receita</a>
        </div>
    </article>
    {% endfor %}
    {% else %}
    {% endif %}
  </div>
</section>