{% load static %}
<!--FORM-->
<section id="titulo pt-5">
    <span>HELLO</span>
    <h2 class="text-center fonte-titulo cor-especial pt-5">Cadastre uma receita</h2>
    <p class="text-center text-secondary pb-2">Seja saudavel</p>
</section>
<div class="card mx-auto" style="width: 25rem;">
  <form class="m-2">
    <div class="form-group">
      <label for="formGroupExampleInput">Nome da Receita</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Ingredientes</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder=""></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Modo de preparo</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Tempo de preparo</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Rendimento</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Categoria</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Data Receita</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
  </form>
  <div class="mb-2">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn botao-cor-especial">Enviar!</button>
  </div>
</div>